<template>
    <div style="text-align:center">
        <section class="section">
            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-menu">
                        <div class="navbar-item">
                            <router-link to="/" class="navbar-item">Home</router-link>
                            <router-link v-if='authenticated' to="/product" class="navbar-item">Product</router-link>
                            <a class="button is-light" v-if='authenticated' v-on:click='logout' id='logout-button'> Logout</a>
                            <a class="button is-light" v-else v-on:click='login' id='login-button'> Login </a>
                            <div v-if='authenticated'>
                                <p>Welcome back!</p>
                            </div>
                        </div>
                    </div>
                </nav>
                <router-view></router-view>
            </div>
        </section>
    </div>
</template>

<script>

export default {
    data: function () {
        return {
            authenticated: false,
            claims: '',
        }
    },
    created () {
        this.isAuthenticated(),
        this.setup()
    },
    watch: {
        // Everytime the route changes, check for auth status
        '$route': 'isAuthenticated'
    },
    methods: {
        async setup () {
            this.claims = await this.$auth.getUser()
            if (localStorage.username !== '') {localStorage.username = this.claims.name}
        },
        async isAuthenticated () {
            this.authenticated = await this.$auth.isAuthenticated()
        },
        login () {
            this.$auth.loginRedirect('/product')
        },
        async logout () {
            localStorage.clear()
            await this.$auth.logout()
            await this.isAuthenticated()
            // Navigate back to home
            this.$router.push({ path: '/' })
        }
    }
}
</script>
