<template>
  <div class="columns">
    <div class="column" v-if="isLoading">Loading products...</div>
    <div class="column" v-else>
      <v-card-title>
        Products
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="products"
        :search="search"
        :items-per-page="5"
        multi-sort
        class="elevation-1"
      >
        <template v-slot:item.action="{ item }">
          <v-icon
            small
            class="mr-2"
            v-bind:class="{ 'is-loading' : isUpdating(item.id) }"
            @click="editProduct(item.id, item)"
          >mdi-pencil</v-icon>
          <v-icon
            v-bind:class="{ 'is-loading' : isDeleting(item.id) }"
            @click="deleteProduct(item.id)"
          >mdi-delete</v-icon>
        </template>
      </v-data-table>

      <product-form @completed="addProduct"></product-form>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import { API_BASE_URL } from "../config";
import Vue from "vue";
import ProductForm from "./ProductForm";

export default {
  components: {
    ProductForm
  },
  data: () => ({
    search: "",
    isLoading: true,
    products: {},
    dialog: false,
    headers: [
      { text: "ID", value: "id" },
      { text: "Title", value: "title" },
      { text: "Title French", value: "title_fr" },
      { text: "Brand", value: "brand" },
      { text: "Condition", value: "condition" },
      { text: "Status", value: "status" },
      { text: "Quantity Available", value: "quantity_available" },
      { text: "Quantity Sold", value: "quantity_sold" },
      { text: "Sku", value: "sku" },
      { text: "Actions", value: "action", sortable: false }
    ]
  }),

  async created() {
    axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${await this.$auth.getAccessToken()}`;

    try {
      const response = await axios.get(API_BASE_URL + "/product");
      this.products = response.data.data;
      this.isLoading = false;
    } catch (e) {
      // handle the authentication error here
    }
  },
  methods: {
    addProduct(item) {
      this.products.push(item);
    },
    isUpdating(id) {
      let index = this.products.findIndex(product => product.id === id);
      return this.products[index].isUpdating;
    },
    async editProduct(id, product) {
      axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${await this.$auth.getAccessToken()}`;

      let data = {
        product: product
      };

      let index = this.products.findIndex(products => products.id === id);
      Vue.set(this.products[index], "isUpdating", true);
      const response = await axios.post(API_BASE_URL + "/product/" + id, data);
      this.products[index].sku = response.data.data.sku;
      this.products[index].isUpdating = false;
    },
    isDeleting(id) {
      let index = this.products.findIndex(product => product.id === id);
      return this.products[index].isDeleting;
    },
    async deleteProduct(id) {
      let index = this.products.findIndex(product => product.id === id);
      Vue.set(this.products[index], "isDeleting", true);
      confirm("Are you sure you want to delete this product?") &&
        (await axios.delete(API_BASE_URL + "/product/" + id)) &&
        this.products.splice(index, 1);
    }
  }
};
</script>